
@{
    ViewData["Title"] = "CourseDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="breadcrumbs overlay">
    <div class="container">
        <div class="bread-inner">
            <div class="row">
                <div class="col-12">
                    <h1>Course Detail</h1>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="content">
            <div class="content-left">
                
                    <div class="section-title position-relative mb-5">                       
                        <h1 class="title">Web design & development courses for beginners</h1>
                    </div>
                    <img class="img-fluid rounded w-100 mb-4" src="~/img/author1.jpg" alt="Image">
                    <p>Tempor erat elitr at rebum at at clita aliquyam consetetur. Diam dolor diam ipsum et, tempor voluptua sit consetetur sit. Aliquyam diam amet diam et eos sadipscing labore. Clita erat ipsum et lorem et sit, sed stet no labore lorem sit. Sanctus clita duo justo et tempor consetetur takimata eirmod, dolores takimata consetetur invidunt magna dolores aliquyam dolores dolore. Amet erat amet et magna</p>
                    <p>
                        Sadipscing labore amet rebum est et justo gubergren. Et eirmod ipsum sit diam ut magna lorem.
                        Nonumy vero labore lorem sanctus rebum et lorem magna kasd, stet amet magna accusam
                        consetetur eirmod. Kasd accusam sit ipsum sadipscing et at at sanctus et. Ipsum sit
                        gubergren dolores et, consetetur justo invidunt at et aliquyam ut et vero clita. Diam sea
                        sea no sed dolores diam nonumy, gubergren sit stet no diam kasd vero.
                    </p>
                                
            </div>
            <div class="content-right">
                <div class="bg-primary mb-5 py-3">
                    <h3 class="py-3 px-4 m-0">Course Features</h3>
                    <div class="border-bottom px-4">
                        <div class="feature-item d-flex justify-content-between">
                            <h6 class="my-3">Instructor:</h6>
                            <h6 class="my-3">John Doe</h6>
                        </div>
                        <div class="feature-item d-flex justify-content-between">
                            <h6 class="my-3">Rating:</h6>
                            <h6 class="my-3">4.5 <small>(250)</small></h6>
                        </div>
                        <div class="feature-item d-flex justify-content-between">
                            <h6 class="my-3">Lectures:</h6>
                            <h6 class="my-3">15</h6>
                        </div>
                        <div class="feature-item d-flex justify-content-between">
                            <h6 class="my-3">Duration:</h6>
                            <h6 class="my-3">10.00 Hrs</h6>
                        </div>
                        <div class="feature-item d-flex justify-content-between">
                            <h6 class="my-3">Skill level:</h6>
                            <h6 class="my-3">All Level</h6>
                        </div>
                        <div class="feature-item d-flex justify-content-between">
                            <h6 class="my-3">Language:</h6>
                            <h6 class="my-3">English</h6>
                        </div>
                        <div class="feature-item d-flex justify-content-between">
                                <h6 class="my-3">Price:</h6>
                                <h6 class="my-3">99$</h6>
                            </div>
                           
                        </div>
                        <div class="py-3 px-4 text-center">
                            <a class="btn btn-block btn-dark" href="">Enroll Now</a>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>




<style>
    .content{
        display:flex;
    }
    .title{
        width: 600px;
    }

    #course-feature{
        margin-left: 300px;
    }

    .section-title{
        padding: 0;
        display: flex;
        justify-content: center;
    }

    .content-right {
        padding: 150px 0;
    }

    .content-left {
        padding: 0 50px;
    }

    img.img-fluid.rounded.w-100.mb-4 {
        height: 450px;
    }

    .breadcrumbs.overlay h1 {
        color: white;
    }


    .feature-item {
        padding: 8px 0;
    }

    .btn-dark {
        background-color: #000;
        color: #fff;
    }

       .btn-dark:hover {
            background-color: #000;
            color: #fff;
        }

    .bg-primary {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .feature-item {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 8px 0;
    }

    h6.my-3 {
        padding-left: 6px;
    }

    .bg-primary.mb-5.py-3 {
        width: 220px;
    }

    .bg-custom {
        background-color: #1A76D1;
    }

    .bg-primary h3,
    .bg-primary h6 {
        color: white;
    }

</style>